<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Registration</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" type="text/css" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"  href="../../assets/stylesheets/main.css">
  <link rel="stylesheet" type="text/css"  href="../../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="../../../bower_components/iban/iban.js"></script>
  <script type="text/javascript" src="../../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="../../assets/javascripts/validation.js"></script>
  <script type="text/javascript" src="../../assets/javascripts/registration.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!--[if lte IE 9 ]> <div class="container"><div class="alert alert-danger old_ie text-center" role="alert">You use old verision of the browser. Please, update it!</div></div> <![endif]-->

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
      <div class="well">

        <form id="formPersonalDate" class="form-registration form-validation">
          <h2 class="form-registration-heading">Personal date</h2>
          <div class="form-group">
            <label for="inputName" class="sr-only">First name</label>
            <input type="text" name="first_name" id="inputName" class="form-control required" placeholder="First name" required="" autofocus="" />
          </div>
          <div class="form-group">
            <label for="inputLastName" class="sr-only">Last name</label>
            <input type="text" name="last_name" id="inputLastName" class="form-control required" placeholder="Last name" required="" />
          </div>
          <div class="form-group">
            <div class="input-group date">
              <label for="inputBirth" class="sr-only">Birth date</label>
              <input type="text" name="birth" id="inputBirth" class="form-control required v-date" placeholder="Birth date (mm/dd/yyyy)" required="" />
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-th"></i>
          </span>
            </div>
          </div>
          <button id="nextStep" class="btn btn-lg btn-primary btn-block btn-form-validation" type="submit" disabled="">Next Step</button>
        </form>

        <form id="formBankAccount" class="form-registration form-validation hidden">
          <h2 class="form-registration-heading">Bank account</h2>
          <div>
            <div class="bank-data">
              <div class="form-group">
                <label for="inputIban" class="sr-only">IBAN</label>
                <input type="text" name="iban" id="inputIban" class="form-control required v-iban" placeholder="IBAN" required="" autocomplete="off" />
              </div>
              <div class="form-group">
                <label for="inputBic" class="sr-only">BIC</label>
                <input type="text" name="bic" id="inputBic" class="form-control required v-bic" placeholder="BIC" required="" autocomplete="off" />
              </div>
              <div class="form-group delete-account-container hidden">
                <a href="#" class="btn btn-danger delete-account pull-right delete-account">Delete</a>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <a href="#" class="btn btn-primary pull-right add-new-account">Add bank account</a>
            <div class="clearfix"></div>
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-form-validation" type="submit" disabled="">Save</button>
        </form>

      </div>
    </div>
  </div>
</div>

</body>
</html>